/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15-jul-2015, 18:08:09
    Author     : AAlmunia
*/

/* @TODO: Media queries for mobile devices */
body {
  padding-top: 50px;
  font-family: Verdana;
  font-size: 11pt;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.navbar-nav > li > a {padding-top:10px !important; padding-bottom:10px !important;}
.navbar {min-height:30px !important}
.navbar-brand {
    min-height: 30px;
}

.table-full-width {
    width: 100%;
}

#divOverlay {
    font-size: 28pt;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 11000;
    background: white;
    opacity: 1;
    display: block;
}

#divOverlayProgress {    
    font-size: 28pt;
}